body {
  background-color: #e7eef1;
  align-items: center;
  
}

.home-background {
  .poster {
    position: absolute;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home--container {
  background-color: #fff;
  border: 2px;
  border-radius: 25px;
  width: 80%;
  height: 684px;
  margin: 20px auto;
  padding: 20px;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.home--container {
  display: flex;
  justify-content: end;
}

.plus--btn,
.book--btn {
  width: 45px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}


.plus--btn.spin {
  animation: spin 1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(180deg)
  }
}