body {
  background-color: #e7eef1;
  align-items: center;
  overscroll-behavior: none;
}

.home--container {
  background-color: #fff;
  border: 2px;
  border-radius: 25px;
  width: 85%;
  height: 684px;
  margin: 20px auto;
  padding: 20px;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: end;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  outline: none;
  display: flex;
  justify-content: flex-end;
}

.plus--btn {
  width: 45px;
  height: 30px;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s;
}

.plus--btn.spin {
  transform: rotate(45deg);
}

.plus--btn.x {
  transform: rotate(45deg);
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes stop-animation {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

.list--btn {
  width: 45px;
  height: 30px;
  cursor: pointer;
  transform: scale(1);
}

.list--btn:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

.list--btn.spin {
  animation: spin 1s linear;
}

.dark--mode--btn {
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
  transform: scale(1);
  transition: transform 0.3s;
  width: 25px;
  height: 40px;
}

.dark--mode--btn-2 {
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
  transform: scale(1);
  transition: transform 0.3s;
  width: 25px;
  height: 40px;
}

.dark--mode--btn-2:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.dark--mode--btn:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.home--background {
  background-color: #e7eef1;
}

.dark--mode .home--container {
  background-color: #010823;
  color: #fff; 
}

.light--mode--fill {
  fill: #000; 
}

.dark--mode--fill {
  fill: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


.dark--mode--btn {
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
  transform: scale(1);
  transition: transform 0.3s;
  width: 25px;
  height: 25px;
}