$primary-color: rgb(34, 32, 30);
$secondary-color: rgb(124, 119, 119);
$border-color: rgb(37, 117, 157);
$border-radius: 5px;
$font-color: #fff;
$background-gradient: linear-gradient(90deg, $primary-color 100%, $primary-color 100%);
$todo-width: 320px;
$padding-small: 14px;
$padding-large: 16px;
$margin-small: 4px;
$margin-large: 32px;
$font-size-small: 18px;
$font-size-large: 24px;
$opacity-low: 0.4;
$transition-speed: 0.3s;